<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home</h1>
<select name="" id="select1">
    {% for country in all_country %}
        <option value="{{ country.id }}">{{ country.name }}</option>
    {% endfor %}
</select>
<select name="" id="select2">
    <option value=""></option>
</select>
</form>

<form action="{{ url_for('home') }}" method="post">
    <h1>Register Occupation</h1>
    <input type="text" name="name" placeholder="Enter name">
    <button>Register</button>
</form>

<h1>All Occupation</h1>
{% for occupation in all_occupation %}
    <h3>{{ occupation.name }}</h3>
{% endfor %}


<script src="../../static/js/user/script.js"></script>
</body>
</html>